.sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.main-content{
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
}